In [9]:
import pandas as pd

In [10]:
df = pd.read_csv("../data/loan_payments_clean.csv")

In [11]:
df.shape
df.head()

,id,member_id,loan_amount,funded_amount,funded_amount_inv,term,int_rate,instalment,grade,sub_grade,...,recoveries,collection_recovery_fee,last_payment_date,last_payment_amount,next_payment_date,last_credit_pull_date,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type
0,38676116.0,41461848.0,8000.0,8000.0,8000.0,36 months,7.49,248.82,A,A4,...,0.0,0.0,Jan-2022,248.82,Feb-2022,Jan-2022,0.0,5.0,1.0,INDIVIDUAL
1,38656203.0,41440010.0,13200.0,13200.0,13200.0,36 months,6.99,407.52,A,A3,...,0.0,0.0,Jan-2022,407.52,Feb-2022,Jan-2022,0.0,NaN,1.0,INDIVIDUAL
2,38656154.0,41439961.0,16000.0,16000.0,16000.0,36 months,7.49,497.63,A,A4,...,0.0,0.0,Oct-2021,12850.16,NaN,Oct-2021,0.0,NaN,1.0,INDIVIDUAL
3,38656128.0,41439934.0,15000.0,15000.0,15000.0,36 months,14.31,514.93,C,C4,...,0.0,0.0,Jun-2021,13899.67,NaN,Jun-2021,0.0,NaN,1.0,INDIVIDUAL
4,38656121.0,41439927.0,15000.0,15000.0,15000.0,36 months,6.03,456.54,A,A1,...,0.0,0.0,Jan-2022,456.54,Feb-2022,Jan-2022,0.0,NaN,1.0,INDIVIDUAL

In [12]:
df.shape
df.head()

,id,member_id,loan_amount,funded_amount,funded_amount_inv,term,int_rate,instalment,grade,sub_grade,...,recoveries,collection_recovery_fee,last_payment_date,last_payment_amount,next_payment_date,last_credit_pull_date,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type
0,38676116.0,41461848.0,8000.0,8000.0,8000.0,36 months,7.49,248.82,A,A4,...,0.0,0.0,Jan-2022,248.82,Feb-2022,Jan-2022,0.0,5.0,1.0,INDIVIDUAL
1,38656203.0,41440010.0,13200.0,13200.0,13200.0,36 months,6.99,407.52,A,A3,...,0.0,0.0,Jan-2022,407.52,Feb-2022,Jan-2022,0.0,NaN,1.0,INDIVIDUAL
2,38656154.0,41439961.0,16000.0,16000.0,16000.0,36 months,7.49,497.63,A,A4,...,0.0,0.0,Oct-2021,12850.16,NaN,Oct-2021,0.0,NaN,1.0,INDIVIDUAL
3,38656128.0,41439934.0,15000.0,15000.0,15000.0,36 months,14.31,514.93,C,C4,...,0.0,0.0,Jun-2021,13899.67,NaN,Jun-2021,0.0,NaN,1.0,INDIVIDUAL
4,38656121.0,41439927.0,15000.0,15000.0,15000.0,36 months,6.03,456.54,A,A1,...,0.0,0.0,Jan-2022,456.54,Feb-2022,Jan-2022,0.0,NaN,1.0,INDIVIDUAL

In [13]:
df["id"] = df["id"].astype("Int64")
df["member_id"] = df["member_id"].astype("Int64")

In [14]:
df[["id","member_id"]].head()
df.dtypes

id                               Int64
member_id                        Int64
loan_amount                    float64
funded_amount                  float64
funded_amount_inv              float64
term                               str
int_rate                       float64
instalment                     float64
grade                              str
sub_grade                          str
employment_length                  str
home_ownership                     str
annual_inc                     float64
verification_status                str
issue_date                         str
loan_status                        str
payment_plan                       str
purpose                            str
dti                            float64
delinq_2yrs                    float64
earliest_credit_line               str
inq_last_6mths                 float64
mths_since_last_delinq         float64
mths_since_last_record         float64
open_accounts                  float64
total_accounts                 float64
out_prncp                      float64
out_prncp_inv                  float64
total_payment                  float64
total_payment_inv              float64
total_rec_prncp                float64
total_rec_int                  float64
total_rec_late_fee             float64
recoveries                     float64
collection_recovery_fee        float64
last_payment_date                  str
last_payment_amount            float64
next_payment_date                  str
last_credit_pull_date              str
collections_12_mths_ex_med     float64
mths_since_last_major_derog    float64
policy_code                    float64
application_type                   str
dtype: object

In [15]:
df.to_csv("../data/loan_payments_clean.csv", index=False)

In [16]:
df["id"] = df["id"].astype(str)
df["member_id"] = df["member_id"].astype(str)

In [17]:
df[["id","member_id"]].isnull().sum()

id           1
member_id    1
dtype: int64

In [19]:
df["id"] = df["id"].astype("Int64")
df["member_id"] = df["member_id"].astype("Int64")

In [20]:
df.dtypes[["id","member_id"]]

id           Int64
member_id    Int64
dtype: object

In [21]:
df.to_csv("../data/loan_payments_clean.csv", index=False)

In [22]:
df[df["id"].isna()]

,id,member_id,loan_amount,funded_amount,funded_amount_inv,term,int_rate,instalment,grade,sub_grade,...,recoveries,collection_recovery_fee,last_payment_date,last_payment_amount,next_payment_date,last_credit_pull_date,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type
54231,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN