In [1]:
import pandas as pd

df = pd.read_csv("../data/loan_payments.csv")

C:\Users\awoye\AppData\Local\Temp\ipykernel_10396\3326100111.py:3: DtypeWarning: Columns (0: 0, 1: 41) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../data/loan_payments.csv")

In [2]:
df.shape

(54232, 45)

In [3]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,35,36,37,38,39,40,41,42,43,44
0,0,0.0,38676116.0,41461848.0,8000.0,8000,8000.0,36 months,7.49,248.82,...,0.0,0.0,Jan-2022,248.82,Feb-2022,Jan-2022,0,5,1.0,INDIVIDUAL
1,1,1.0,38656203.0,41440010.0,13200.0,13200,13200.0,36 months,6.99,407.52,...,0.0,0.0,Jan-2022,407.52,Feb-2022,Jan-2022,0,\N,1.0,INDIVIDUAL
2,2,2.0,38656154.0,41439961.0,16000.0,16000,16000.0,36 months,7.49,497.63,...,0.0,0.0,Oct-2021,12850.16,\N,Oct-2021,0,\N,1.0,INDIVIDUAL
3,3,3.0,38656128.0,41439934.0,15000.0,15000,15000.0,36 months,14.31,514.93,...,0.0,0.0,Jun-2021,13899.67,\N,Jun-2021,0,\N,1.0,INDIVIDUAL
4,4,4.0,38656121.0,41439927.0,15000.0,15000,15000.0,36 months,6.03,456.54,...,0.0,0.0,Jan-2022,456.54,Feb-2022,Jan-2022,0,\N,1.0,INDIVIDUAL

In [63]:
DataFrameInfo(df).describe_columns()

NameError: name 'DataFrameInfo' is not defined

In [5]:
columns = [
"index",
"Unnamed: 0",
"id",
"member_id",
"loan_amount",
"funded_amount",
"funded_amount_inv",
"term",
"int_rate",
"instalment",
"grade",
"sub_grade",
"employment_length",
"home_ownership",
"annual_inc",
"verification_status",
"issue_date",
"loan_status",
"payment_plan",
"purpose",
"dti",
"delinq_2yrs",
"earliest_credit_line",
"inq_last_6mths",
"mths_since_last_delinq",
"mths_since_last_record",
"open_accounts",
"total_accounts",
"out_prncp",
"out_prncp_inv",
"total_payment",
"total_payment_inv",
"total_rec_prncp",
"total_rec_int",
"total_rec_late_fee",
"recoveries",
"collection_recovery_fee",
"last_payment_date",
"last_payment_amount",
"next_payment_date",
"last_credit_pull_date",
"collections_12_mths_ex_med",
"mths_since_last_major_derog",
"policy_code",
"application_type"
]

In [6]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,35,36,37,38,39,40,41,42,43,44
0,0,0.0,38676116.0,41461848.0,8000.0,8000,8000.0,36 months,7.49,248.82,...,0.0,0.0,Jan-2022,248.82,Feb-2022,Jan-2022,0,5,1.0,INDIVIDUAL
1,1,1.0,38656203.0,41440010.0,13200.0,13200,13200.0,36 months,6.99,407.52,...,0.0,0.0,Jan-2022,407.52,Feb-2022,Jan-2022,0,\N,1.0,INDIVIDUAL
2,2,2.0,38656154.0,41439961.0,16000.0,16000,16000.0,36 months,7.49,497.63,...,0.0,0.0,Oct-2021,12850.16,\N,Oct-2021,0,\N,1.0,INDIVIDUAL
3,3,3.0,38656128.0,41439934.0,15000.0,15000,15000.0,36 months,14.31,514.93,...,0.0,0.0,Jun-2021,13899.67,\N,Jun-2021,0,\N,1.0,INDIVIDUAL
4,4,4.0,38656121.0,41439927.0,15000.0,15000,15000.0,36 months,6.03,456.54,...,0.0,0.0,Jan-2022,456.54,Feb-2022,Jan-2022,0,\N,1.0,INDIVIDUAL

In [7]:
import pandas as pd

df = pd.read_csv("../data/loan_payments.csv", header=None)
print("CSV shape:", df.shape)

CSV shape: (54233, 45)

C:\Users\awoye\AppData\Local\Temp\ipykernel_10396\2017052264.py:3: DtypeWarning: Columns (0: 0, 1: 41) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../data/loan_payments.csv", header=None)

In [8]:
len(columns)

45

In [9]:
if df.shape[1] == len(columns) + 1:
    df = df.iloc[:, 1:]

df.columns = columns

In [10]:
df.head()

,index,Unnamed: 0,id,member_id,loan_amount,funded_amount,funded_amount_inv,term,int_rate,instalment,...,recoveries,collection_recovery_fee,last_payment_date,last_payment_amount,next_payment_date,last_credit_pull_date,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type
0,0,1.0,2.0,3.0,4.0,5,6.0,7,8,9.00,...,35.0,36.0,37,38.00,39,40,41,42,43.0,44
1,0,0.0,38676116.0,41461848.0,8000.0,8000,8000.0,36 months,7.49,248.82,...,0.0,0.0,Jan-2022,248.82,Feb-2022,Jan-2022,0,5,1.0,INDIVIDUAL
2,1,1.0,38656203.0,41440010.0,13200.0,13200,13200.0,36 months,6.99,407.52,...,0.0,0.0,Jan-2022,407.52,Feb-2022,Jan-2022,0,\N,1.0,INDIVIDUAL
3,2,2.0,38656154.0,41439961.0,16000.0,16000,16000.0,36 months,7.49,497.63,...,0.0,0.0,Oct-2021,12850.16,\N,Oct-2021,0,\N,1.0,INDIVIDUAL
4,3,3.0,38656128.0,41439934.0,15000.0,15000,15000.0,36 months,14.31,514.93,...,0.0,0.0,Jun-2021,13899.67,\N,Jun-2021,0,\N,1.0,INDIVIDUAL

In [11]:
import numpy as np
import pandas as pd

# df already loaded
# 1) Drop the first row if it's the dummy header-like row
df = df.iloc[1:].reset_index(drop=True)

# 2) Convert "\N" to real NaN
df = df.replace(r"\\N", np.nan, regex=True)

df.head()

,index,Unnamed: 0,id,member_id,loan_amount,funded_amount,funded_amount_inv,term,int_rate,instalment,...,recoveries,collection_recovery_fee,last_payment_date,last_payment_amount,next_payment_date,last_credit_pull_date,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type
0,0,0.0,38676116.0,41461848.0,8000.0,8000,8000.0,36 months,7.49,248.82,...,0.0,0.0,Jan-2022,248.82,Feb-2022,Jan-2022,0,5,1.0,INDIVIDUAL
1,1,1.0,38656203.0,41440010.0,13200.0,13200,13200.0,36 months,6.99,407.52,...,0.0,0.0,Jan-2022,407.52,Feb-2022,Jan-2022,0,NaN,1.0,INDIVIDUAL
2,2,2.0,38656154.0,41439961.0,16000.0,16000,16000.0,36 months,7.49,497.63,...,0.0,0.0,Oct-2021,12850.16,NaN,Oct-2021,0,NaN,1.0,INDIVIDUAL
3,3,3.0,38656128.0,41439934.0,15000.0,15000,15000.0,36 months,14.31,514.93,...,0.0,0.0,Jun-2021,13899.67,NaN,Jun-2021,0,NaN,1.0,INDIVIDUAL
4,4,4.0,38656121.0,41439927.0,15000.0,15000,15000.0,36 months,6.03,456.54,...,0.0,0.0,Jan-2022,456.54,Feb-2022,Jan-2022,0,NaN,1.0,INDIVIDUAL

In [12]:
df = df.drop(columns=["index", "Unnamed: 0"], errors="ignore")

In [13]:
df.to_csv("../data/loan_payments.csv", index=False)

In [15]:
df.shape

(54232, 43)

In [16]:
df.head()

,id,member_id,loan_amount,funded_amount,funded_amount_inv,term,int_rate,instalment,grade,sub_grade,...,recoveries,collection_recovery_fee,last_payment_date,last_payment_amount,next_payment_date,last_credit_pull_date,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type
0,38676116.0,41461848.0,8000.0,8000,8000.0,36 months,7.49,248.82,A,A4,...,0.0,0.0,Jan-2022,248.82,Feb-2022,Jan-2022,0,5,1.0,INDIVIDUAL
1,38656203.0,41440010.0,13200.0,13200,13200.0,36 months,6.99,407.52,A,A3,...,0.0,0.0,Jan-2022,407.52,Feb-2022,Jan-2022,0,NaN,1.0,INDIVIDUAL
2,38656154.0,41439961.0,16000.0,16000,16000.0,36 months,7.49,497.63,A,A4,...,0.0,0.0,Oct-2021,12850.16,NaN,Oct-2021,0,NaN,1.0,INDIVIDUAL
3,38656128.0,41439934.0,15000.0,15000,15000.0,36 months,14.31,514.93,C,C4,...,0.0,0.0,Jun-2021,13899.67,NaN,Jun-2021,0,NaN,1.0,INDIVIDUAL
4,38656121.0,41439927.0,15000.0,15000,15000.0,36 months,6.03,456.54,A,A1,...,0.0,0.0,Jan-2022,456.54,Feb-2022,Jan-2022,0,NaN,1.0,INDIVIDUAL

In [17]:
df[['id', 'member_id']].dtypes

id           float64
member_id    float64
dtype: object

In [18]:
df['id'] = df['id'].astype('Int64')
df['member_id'] = df['member_id'].astype('Int64')

In [19]:
df[['id','member_id']].head()

         id  member_id
0  38676116   41461848
1  38656203   41440010
2  38656154   41439961
3  38656128   41439934
4  38656121   41439927

In [62]:
df.to_csv("../data/loan_payments_clean.csv", index=False)

In [61]:
df[['issue_date']].dtypes

issue_date    str
dtype: object